<a href="https://colab.research.google.com/github/naidosssik/it-project/blob/main/hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import random
import pandas as pd

In [2]:
np.random.seed(42)
random.seed(42)
theta_1 = np.random.randn(100)
theta_2 = np.random.randn(100)
theta_3 = np.random.randn(100)
random.shuffle(theta_1)
random.shuffle(theta_2)
random.shuffle(theta_3)
theta = np.array([theta_1, theta_2, theta_3])

def func (x: list, theta: list):
    return (x[0] * theta[0] + x[1] * theta[1] + theta[2])

data_of_values = [[[0, 1], 1], [[1, 1], 1], [[1, 0], 1], [[-0.5, 0.5], -1], [[0, -0.5], -1]]

df_theta = pd.DataFrame(theta.transpose())
df_values = pd.DataFrame(data_of_values)

def sigma (theta: list):
    sigma = 0
    for i in range(len(data_of_values)):
        sigma += max(0, 1 - df_values[1][i] * func(df_values[0][i], theta))
    return sigma
def loss (theta: list, N: int, x: list, y):
    return 0.1 * (theta[0] ** 2 + theta[1] ** 2 + theta[2] ** 2) + (N ** (-1)) * sigma(theta)

In [3]:
losses = []
for i in range(100):
    for k in range(5):
        losses.append([loss(df_theta.iloc[i], len(data_of_values), df_values.iloc[k][0], df_values.iloc[k][1]), df_theta.iloc[i], df_values.iloc[k][0]])
mins = 1000
for i in range(len(losses)):
    if losses[i][0] < mins:
        mins = losses[i][0]
        best_losses = losses[i]
best_theta = best_losses[1]

In [4]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
x = np.arange(-10, 10, 1)
y = np.arange(-10, 10, 1)
fig = plt.figure()
ax = Axes3D(fig)
x, y = np.meshgrid(x, y)
ax.plot_surface(x, y, func ([x, y], best_theta), rstride=1, cstride=1)
plt.show()
best_losses[1]

0    1.523030
1    0.856399
2   -0.707669
Name: 97, dtype: float64